@font-face {
	font-family: 'AppleSDGothicNeoB';
	src:url('../img/fonts/AppleSDGothicNeoB.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoEB';
	src:url('../img/fonts/AppleSDGothicNeoEB.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoH';
	src:url('../img/fonts/AppleSDGothicNeoH.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoL';
	src:url('../img/fonts/AppleSDGothicNeoL.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoM';
	src:url('../img/fonts/AppleSDGothicNeoM.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoR';
	src:url('../img/fonts/AppleSDGothicNeoR.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoSB';
	src:url('../img/fonts/AppleSDGothicNeoSB.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoT';
	src:url('../img/fonts/AppleSDGothicNeoT.ttf');
}
@font-face {
	font-family: 'AppleSDGothicNeoUL';
	src:url('../img/fonts/AppleSDGothicNeoUL.ttf');
}
@font-face {
	font-family: 'TMONEYROUNDWINDEXTRABOLD';
	src:url('../img/fonts/TMONEYROUNDWINDEXTRABOLD.TTF');
}
@font-face {
	font-family: 'TMONEYROUNDWINDREGULAR';
	src:url('../img/fonts/TMONEYROUNDWINDREGULAR.TTF');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}
body {
line-height: 1;
}
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}