* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 스크롤 위치 확인 컨트롤러 css - 나중에 지우기 */

.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.indicator-text {
    margin-right: 10px;
}

.indicator-value {
    font-weight: bold;
}

/* 스크롤 위치 확인 컨트롤러 css - 나중에 지우기 */

a {
    text-decoration: none;
}

body {
    font-family: 'TmoneyRoundWindExtraBold';
    /* font-family: 'font/AppleSDGothicNeoB.ttf'; */
    background-color: #F9F7E8;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#wrap{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: #8b3ef07d;
    width: 100%;
    height: 13vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 10;
}

header ul {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 7vh;
}

header ul li {
    margin: 3vh;
}

header ul li a {
    font-family: 'AppleSDGothicNeoM';
    /* font-size: 1.1em; */
    font-size: calc(100vh * 47 / 1920);
    font-weight: 600;
}

header .main-ul li:nth-child(1) a {
    color: #71D69F;
}

header .main-ul li:nth-child(2) a {
    color: #FFF495;
}

header .main-ul li:nth-child(3) a {
    color: #FF917A;
}

#main {
    width: 100%;
    height: 100포;
    background-image: url(../img/main-background.png);
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    /* padding-left: 15vh; */
    position: relative;
    bottom: 0.1vh;
    border: 2px solid red;
    background-color: #8C3EF0;
}

#main .main-left{
    /* border: 1px solid red; */
    position: relative;
    left: 10vh;
    margin-top: 15vh;
}

#main .main-left .main-logo{
    margin-bottom: 62vh;
    /* border: 2px solid yellow; */
}

#main .main-left .app-logo{
    margin-bottom: 4vh;
}
#main .main-left .app-img {
    width: 13vh;
    margin-right: 3.5vh;
}

#main .main-left .app-txt-img {
    width: 15vh;
}

#main .main-left #main-app-text p{
    font-family: 'AppleSDGothicNeoR';
    color: white;
    font-weight: 400;
    font-size: calc(100vh * 45 / 1920);
    line-height: 140%;
    opacity: 0; 
}

#main .main-left #main-app-text span {
    font-weight: 700;
}

.on {
    animation: cliptext 1s ease-in-out both;
    opacity: 1;
}


@keyframes cliptext {
    0% {
        opacity: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform: translateY(200%);
    }

    95% {
        opacity: 0.5;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}

#main .main-left .main-introduce p{
    font-family: 'AppleSDGothicNeoB';
    font-size: calc(100vh * 35 / 1920);
    color: #FFD698;
    margin-bottom: 0.3vh;
    position: relative;
    bottom: 10vh;
}

#main .main-left .main-introduce p:nth-child(2){
    margin-bottom: 4vh;
}

#main .main-left .main-introduce p:nth-child(4){
    color: #71D69F;
}

#main .main-left .main-introduce p:nth-child(4) span{
    color: #FF917A;
}

/* #main .main-right img {
    width: 100vh ;
    position: absolute;
    right: 8vh;
} */

#main .main-right .main-phone {
    width: 110vh ;
    position: absolute;
    top: 8vh;
    right: 8vh;
    border: 1px solid red;
    z-index: 10;
}

#main .main-right .main-pumi{
    width:29vh;
    position: absolute;
    /* right: 87vh;
    top: 33vh; */
    right: 70vh;
    top: 38vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}


#main .main-right .main-pumi.show {
    top: 33vh;
    right: 87vh;
}

#main .main-right .main-toto{
    width: 32vh;
    position: absolute;
    /* right: 32vh;
    bottom: 76vh; */
    right: 39vh;
    bottom: 63vh;
    z-index: 7;
    transition: bottom 0.5s, right 0.5s ease-in-out;
    opacity: 0.5;
}

#main .main-right .main-toto.show {
    bottom:76vh;
    right: 32vh;
}


#main .main-right .main-ohmong{
    width: 45vh;
    position: absolute;
    /* right: 2vh;
    bottom: 36vh; */
    right: 22vh;
    bottom: 22vh;
    transition: bottom 0.5s, right 0.5s ease-in-out;
}

#main .main-right .main-ohmong.show {
    right: 2vh;
    bottom: 36vh;
}

#main .effects img{
    width: 2vh;
}

#main .effects .effect-1{ /*푸미효과-1*/
    /* border: 1px solid red; */
    width: 3.3vh;
    position: absolute;
    /* right: 101vh;
    top: 59vh; */
    right: 90vh;
    top: 54vh;
    z-index: 5;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-1.show {
    right: 101vh;
    top: 59vh;
}

#main .effects .effect-2{ /*푸미효과-2*/
    /* border: 1px solid red; */
    width: 3.3vh;
    position: absolute;
    /* right: 91vh;
    top: 24vh; */
    right: 91vh;
    top: 45vh;
    transition: top 0.5s ease-in-out;
}

#main .effects .effect-2.show {
    top: 24vh;
}

#main .effects .effect-3{ /*푸미효과-3*/
    /* border: 1px solid red; */
    width: 1.3vh;
    position: absolute;
    /* right: 87vh;
    top: 51vh; */
    right: 90vh;
    top: 58vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-3.show {
    top: 51vh;
    right: 87vh;
}

#main .effects .effect-4{ /*토토효과-1*/
    /* border: 1px solid red; */
    width: 3vh;
    position: absolute;
    /* right: 55vh;
    top: 12vh; */
    right: 51vh;
    top: 22vh;
    z-index: 6;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-4.show {
    top: 12vh;
    right: 55vh;
}

#main .effects .effect-5{ /*토토효과-2*/
    /* border: 1px solid red; */
    width: 4.3vh;
    position: absolute;
    /* right: 35vh;
    top: 27vh; */
    right: 49vh;
    top: 29vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-5.show {
    top: 27vh;
    right: 35vh;
}

#main .effects .effect-6{ /*토토효과-3*/
    /* border: 1px solid red; */
    width: 0.8vh;
    position: absolute;
    /* right: 40vh;
    top: 32vh; */
    right: 56vh;
    top: 35vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-6.show {
    top: 32vh;
    right: 40vh;
}

#main .effects .effect-7{ /*오몽효과-1*/
    /* border: 1px solid red; */
    width: 1.8vh;
    position: absolute;
    /* right: 34vh;
    top: 55vh; */
    right: 34vh;
    top: 62vh;
    transition: top 0.5s ease-in-out;
}

#main .effects .effect-7.show {
    top: 55vh;
}

#main .effects .effect-8{ /*오몽효과-2*/
    border: 1px solid red;
    width: 3.6vh;
    position: absolute;
    /* right: 6vh;
    top: 50vh; */
    right: 16vh;
    top: 53vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}


#main .effects .effect-8.show {
    top: 50vh;
    right: 6vh;
}


#main .effects .effect-9{ /*오몽효과-3*/
    /* border: 1px solid red; */
    width:1vh;
    position: absolute;
    /* right: 7vh;
    top: 47vh; */
    right: 12vh;
    top: 54vh;
    transition: top 0.5s, right 0.5s ease-in-out;
}

#main .effects .effect-9.show {
    top: 47vh;
    right: 7vh;
}
/*Planning-------------------------------------------------------------------*/

#planning{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.planning-wrap{
    width: 80%;
    height: 100%;
    background-color: white;
    position: relative;
    top: 20vh;
    border-radius: 8vh 8vh 8vh 8vh;
    padding: 8vh;
}

.planning-wrap .planning-ch{
    width: 40vh;
    position: absolute;
    right: 5vh;
    top: -17vh;
}

.planning-wrap .overview{
    position: relative;
    top: 7vh;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
    margin-bottom: 20vh;
}

.planning-wrap .overview .overview-content{
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    bottom: 3vh;
}

.planning-wrap .overview strong{
    font-size: calc(100vh * 48 / 1920);
    color: #9140F9;
    font-weight: 800;
    margin-bottom: 15vh;
}

.planning-wrap .overview-content .overview-left h1{
    font-family: 'TMONEYROUNDWINDEXTRABOLD';
    font-size: calc(100vh * 90 / 1920);
    color: #232323;
    margin-bottom: 6vh;
    line-height: 129%;
}

.planning-wrap .overview-content .overview-left #overview-txt-ani span{
    color: #71D69F;
    opacity: 0;
}

.on2 {
    animation: cliptext2 0.5s ease-in-out both;
    opacity: 1;
}


@keyframes cliptext2 {
    0% {
        opacity: 0;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        transform: translateY(400%);
    }

    95% {
        opacity: 0.5;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}


.planning-wrap .overview-content .overview-left p{
    color: #717171;
    font-family: 'AppleSDGothicNeoM';
    line-height: 160%;
}

.planning-wrap .overview-content .overview-left p span{
    font-family: 'AppleSDGothicNeoB';
    font-weight: 500;
}


.planning-wrap .overview-content .overview-right{
    position: absolute;
    right:0;
    /* border: 1px solid green; */
    display: flex;
}

.planning-wrap .overview-content .overview-right .overview-circle-1, .overview-circle-2{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'AppleSDGothicNeoR';
    color: #232323;
    line-height: 160%;
}

.planning-wrap .overview-circle-1{
    border: 3px solid #FFD698;
    position: relative;
    right: 17vh;
    font-size: calc(100vh * 39 / 1920);
}

.planning-wrap .overview-circle-1 span{
    font-family: 'AppleSDGothicNeoB';
    color: #FFD698;
}

.planning-wrap .overview-circle-2{
    border: 3px solid #FF917A;
    font-size: calc(100vh * 39 / 1920);
    /* transform: translateX(-50vh); */
    transition: transform 0.1s ease;
    /* opacity: 0; */
}

.planning-wrap .overview-circle-2 span{
    font-family: 'AppleSDGothicNeoB';
    color: #FF917A;
}
.planning-wrap .overview-content .overview-right .overview-arrow{
    display: flex;
    flex-flow: column;
    position: relative;
    right: 8vh;
    top: 8vh;
}

.planning-wrap .overview-arrow img{
    width: 6vh;
}

.planning-wrap .background{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .background .bg-text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .bg-text strong{
    font-size: calc(100vh * 58 / 1920);
    color: #9140F9;
    margin-bottom: 5vh;
}

.planning-wrap .bg-text h2{
    font-size: calc(100vh * 68 / 1920);
    color: #232323;
    margin-bottom: 5vh;
}

.planning-wrap .bg-text h2 span{
    color: #BC88FF;
}

.planning-wrap .bg-text p{
    text-align: center;
    font-family: 'AppleSDGothicNeoR';
    color: #717171;
    line-height: 160%;
}

.planning-wrap .background{
    /* border: 1px solid red; */
}

.planning-wrap .background .bg-chart{
    display: flex;
}

.planning-wrap .background .chart-1, .chart-2{
    width: 45vh;
    height: 40vh;
    border: 2px solid #ECDDFF;
    border-radius: 3vh;
    margin: 2vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .background .chart-text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .background .chart-text .problem{
    width: 12vh;
    height: 4vh;
    background-color: #71D69F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    font-family: 'AppleSDGothicNeoB';
    color: white;
    margin-bottom: 2vh;
}

.planning-wrap .background .chart-text h3{
    font-family: 'TMONEYROUNDWINDREGULAR';
    color: #232323;
    margin-bottom: 1.5vh;
}

.planning-wrap .background .chart-text p{
    font-family: 'AppleSDGothicNeoR';
    color: #717171;
    font-size: calc(100vh * 32 / 1920);
    margin-bottom: 2vh;
}

.planning-wrap .background .chart-img-1{
    display: flex;
}

.planning-wrap .background .chart-img-1 .square-chart{
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    margin-right: 2vh;
    flex-flow: column;
    margin-bottom: 2vh;
}

.planning-wrap .background .chart-img-1 .square-chart-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planning-wrap .background .chart-img-1 .square-ch-1{
    width: 4vh;
    height: 10vh;
    background-color: #D6B6FF;
    border-bottom: 6vh solid #BC88FF;
    margin-right: 1.5vh;
    border-radius: 0.7vh 0.7vh 0 0;
}

.planning-wrap .background .chart-img-1 .square-ch-2{
    width: 4vh;
    height: 8vh;
    background-color: #D6B6FF;
    border-bottom: 3.3vh solid #BC88FF;
    margin-left: 1vh;
    position: relative;
    top: 2.4vh;
    border-radius: 0.7vh 0.7vh 0 0;
}

.planning-wrap .background .chart-img-1 .bottom-line{
    width: 18vh;
    border-bottom: 2px solid #C7C7C7;
    
}

.planning-wrap .background .chart-img-1 .chart-exp-1{
    position: relative;
    margin-top: 10vh;
    font-size: calc(100vh * 27 / 1920);
    font-family: 'AppleSDGothicNeoM';
    color: #595959;
}

.planning-wrap .chart-exp-1 .four-grade, .first-grade{
    font-size: calc(100vh * 27 / 1920);
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7vh;
}
.planning-wrap .background .chart-img-1 .chart-exp-1 .four-circle, .first-circle{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 1.5vh;
}

.planning-wrap .background .chart-img-1 .chart-exp-1 .four-circle{
    background-color: #D6B6FF;
}

.planning-wrap .background .chart-img-1 .chart-exp-1 .first-circle{
    background-color: #BC88FF;
    position: relative;
    right:0.1vh;
}

.planning-wrap .chart-last-txt{
    font-family: 'AppleSDGothicNeoB';
    font-size: calc(100vh * 27 / 1920);
    color: #C7C7C7;
}

.planning-wrap .background .chart-2{
    display: flex;
}

.planning-wrap .background .chart-2 .chart-last-txt{
    position: relative;
    bottom: 0.5vh;
}
.planning-wrap .chart-img-2{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 2.1vh;
}

.planning-wrap .chart-img-2 img{
    width: 18vh;
    position: relative;
    bottom: 3.5vh;
}

.planning-wrap .chart-exp-2{
    font-size: calc(100vh * 27 / 1920);
    margin-top: 7.5vh;
    font-family: 'AppleSDGothicNeoM';
    color: #595959;
}

.planning-wrap .chart-exp-2 .adult-circle, .normal-circle{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 1.5vh;
}

.planning-wrap .chart-exp-2 .adult, .normal-weight{
    display: flex;
    align-items: center;
}

.planning-wrap .chart-exp-2 .adult-circle{
    background-color: #D6B6FF;
    margin-bottom: 0.7vh;
    position: relative;
    right: 0.1vh;
}

.planning-wrap .chart-exp-2 .normal-circle{
    background-color: #BC88FF;
    position: relative;
    right:0.1vh;
}

/*Planning care------------------------------------------------------------*/

.planning-wrap .care{
    /* border: 2px solid rgb(0, 30, 255); */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 20vh;
    /* border: 1px solid red; */
}

.planning-wrap .care .care-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.planning-wrap .care .care-top .care-top-left{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.planning-wrap .care .care-top .care-top-left h1{
    font-size: calc(100vh * 75 / 1920);
    color: #232323;
    line-height: 150%;
    margin-bottom: 2.9vh;
}

.planning-wrap .care .care-top .care-top-left h1 span{
    color: #BC88FF;
}

.planning-wrap .care .care-top .care-top-left p{
    font-family: 'AppleSDGothicNeoR';
    color: #717171;
    font-size: calc(100vh * 40 / 1920);
    line-height: 160%;
}

.planning-wrap .care .care-top .care-top-right{
    position: absolute;
    right: -8vh;
    top: 0;
    /* border: 1px solid red; */
}
.planning-wrap .care .care-top .care-top-right ul{
    display: flex;
    position: relative;
    bottom: 1.4vh;
    right: 5vh;
}

.planning-wrap .care .care-top-line{     /*dot-line-top*/
    width: 82vh;
    position: relative;
    left: 10vh;
}

.planning-wrap .care .care-top-right ul li{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 12vh;
}

.planning-wrap .care .care-top-right ul li:nth-child(1){
    position: relative;
    left: 1.5vh;
}

/*care-circles*/

.planning-wrap .care .care-top .care-circle-0{
    width: 0.7vh;
    height: 0.7vh;
    border: 0.6vh solid #FFD698;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 3vh;
    position: relative;
    bottom: 10.5vh;
}

.planning-wrap .care .care-top .care-circle-1{
    width: 0.7vh;
    height: 0.7vh;
    border: 0.6vh solid #BC88FF;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 3vh;
}
/*care-circles*/


.planning-wrap .care .care-top-right ul li img{
    width: 14vh;
}

.planning-wrap .care .care-top-right ul p{
    font-size: calc(100vh * 40 / 1920);
    font-family: 'AppleSDGothicNeoB';
    color: #232323;
    margin-bottom: 3vh;
}


.planning-wrap .care .care-bottom{
    margin-top: 30vh;
    position: absolute;
    left: -8vh;
}

.planning-wrap .care .care-bottom-line{     /*dot-line-bottom*/
    width: 84vh;
}

.planning-wrap .care .care-bottom .care-bottom-stage{
    position: relative;
    bottom: 1.2vh;
}

.planning-wrap .care .care-bottom ul{
    display: flex;
}

.planning-wrap .care .care-bottom ul li{
    margin-left: 12vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .care .care-bottom ul li:nth-child(1){
    position: absolute;
    top: 0;
    right: 64vh;
    width: 11vh;
    font-family: 'TMONEYROUNDWINDREGULAR';
    font-size: calc(100vh * 42 / 1920);
    color: #232323;
}

.planning-wrap .care .care-bottom ul li:nth-child(2){
    position: absolute;
    top: 0;
    right: 40vh;
    font-size: calc(100vh * 32 / 1920);
    font-family: 'AppleSDGothicNeoB';
} 

.planning-wrap .care .care-bottom ul li:nth-child(3){
    position: absolute;
    top: 0;
    right: 15vh;
    font-size: calc(100vh * 32 / 1920);
    font-family: 'AppleSDGothicNeoB';
} 

.planning-wrap .care .care-bottom ul li p{
    color: #909090;
}

.planning-wrap .care .care-bottom ul li:nth-child(1) h3{
    margin-bottom: 1vh;
}
.planning-wrap .care .care-bottom ul li:nth-child(1) p{
    font-family: 'AppleSDGothicNeoM';
    color: #232323;
    font-size: calc(100vh * 40 / 1920);
} /*식습관 개선*/


.planning-wrap .care .care-bottom ul li:nth-child(2) p{ /*2단계*/
    filter: blur(0.7px);
}
.planning-wrap .care .care-bottom ul li:nth-child(3) p{  /*3단계*/
    filter: blur(0.7px);
}


.planning-wrap .care .care-bottom ul li:nth-child(4){
    position: absolute;
    top: 0;
    right: 0;
    font-size: calc(100vh * 32 / 1920);
    font-family: 'AppleSDGothicNeoB';
}

.planning-wrap .care .care-bottom .care-circle-0{
    width: 0.7vh;
    height: 0.7vh;
    border: 0.6vh solid #FFD698;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 2.5vh;
    position: relative;
    bottom: 0.3vh;
}

.planning-wrap .care .care-bottom .care-circle-1{
    width: 0.8vh;
    height: 0.8vh;
    border: 0.9vh solid #BC88FF;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 2.5vh;
    filter: blur(1.5px);
    position: relative;
    bottom: 0.5vh;
}

/*Planning Goal------------------------------------------------------------*/

.planning-wrap .goal{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 30vh;
    margin-bottom: 26vh;
}

.goal .begie-1, .begie-2{
    width: 30vh;
    height: 60vh;
    background-color: #F9F7E8;
    /* border: 1px solid rgb(185, 168, 168); */
    position: absolute;
    z-index: 5;
}

.goal .begie-1{
    top: 24vh;
    left: -38vh;
}

.goal .begie-2{
    top: 24vh;
    right: -38vh;
}

.planning-wrap .goal .goal-top-txt{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.planning-wrap .goal .goal-top-txt strong{
    font-family: 'TMONEYROUNDWINDEXTRABOLD';
    color: #9140F9;
    font-size: calc(100vh * 58 / 1920);
    margin-bottom: 5vh;
}

.planning-wrap .goal .goal-top-txt h1{
    font-size: calc(100vh * 72 / 1920);
    color: #232323;
    margin-bottom: 3vh;
}

.planning-wrap .goal .goal-top-txt h1 span{
    color: #BC88FF;
}

.planning-wrap .goal .goal-top-txt p{
    font-size: calc(100vh * 44 / 1920);
    text-align: center;
    font-family: 'AppleSDGothicNeoM';
    color: #717171;
    line-height: 150%;
}

.planning-wrap .goal .goal-bottom{
    width: 100%;
    margin-top: 10vh;
}



/*Slide----------------------------------------------------------*/
.planning-wrap .goal .goal-bottom-1{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    white-space: nowrap;
    animation: slide 40s linear infinite; 
}

@keyframes slide {
    0% {
        transform: translateX(0%); /* 초기 위치에서 시작 */
    }
    100% {
        transform: translateX(calc(-250px * 7)); /* 최종 위치로 이동 */
    }
}

.planning-wrap .goal .goal-bottom-2{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    white-space: nowrap;
    animation: slide2 40s linear infinite; 
}

@keyframes slide2 {
    0% {
        transform: translateX(0%); /* 초기 위치에서 시작 */
    }
    100% {
        transform: translateX(calc(250px * 7)); /* 최종 위치로 이동 */
    }
}

.planning-wrap .goal .goal-bottom-3{
    width: calc(15% * 14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    white-space: nowrap;
    animation: slide 40s linear infinite; 
}

@keyframes slide {
    0% {
        transform: translateX(0%); /* 초기 위치에서 시작 */
    }
    100% {
        transform: translateX(calc(-250px * 7)); /* 최종 위치로 이동 */
    }
}


.planning-wrap .goal .goal-bottom-1 .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100vh * 65 / 1920);
    padding: 2.5vh;
    font-family: 'AppleSDGothicNeoL';
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    margin-left: 3vh;
    margin-right: 3vh;
    color: #808080;
    opacity: 0.5;
}

.planning-wrap .goal .goal-bottom-2 .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100vh * 65 / 1920);
    padding: 2.5vh;
    font-family: 'AppleSDGothicNeoL';
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    margin: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    color: #808080;
    opacity: 0.4;
}

.planning-wrap .goal .goal-bottom-3 .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100vh * 65 / 1920);
    padding: 2.5vh;
    font-family: 'AppleSDGothicNeoL';
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    margin-left: 6vh;
    margin-right: 6vh;
    color: #808080;
    opacity: 0.3;
}

.planning-wrap .goal .goal-bottom-1 .habit{
    color: #71D69F;
    opacity: 1;
    border: 1px solid #cccccc7e;
    font-family: 'AppleSDGothicNeoB';
    padding-left: 4vh;
    padding-right: 4vh;
}

.planning-wrap .goal .goal-bottom-1 .character{
    color: #FFD698;
    opacity: 1;
    border: 1px solid #cccccc7e;
    font-family: 'AppleSDGothicNeoB';
    padding-left: 4vh;
    padding-right: 4vh;
}

.planning-wrap .goal .goal-bottom-1 .exersice{
    padding-left: 5vh;
    padding-right: 5vh;
    
}

.planning-wrap .goal .goal-bottom-1 .hospital{
    padding-left: 5vh;
    padding-right: 5vh;
    
}

.planning-wrap .goal .goal-bottom-1 .diary{
    padding-left: 5vh;
    padding-right: 5vh;
    
}



.planning-wrap .goal .goal-bottom-2 .tranning{
    padding-left: 5vh;
    padding-right: 5vh;
}

.planning-wrap .goal .goal-bottom-2 .meal{
    padding-left: 5vh;
    padding-right: 5vh;
}

.planning-wrap .goal .goal-bottom-2 .education{
    padding-left: 5vh;
    padding-right: 5vh;
    color: #71D69F;
    font-family: 'AppleSDGothicNeoB';
}

.planning-wrap .goal .goal-bottom-2 .for-parent{
    padding-left: 5vh;
    padding-right: 5vh;
    color: #FF917A;
    font-family: 'AppleSDGothicNeoB';
}

.planning-wrap .goal .goal-bottom-2 .bmi{
    padding-left: 5vh;
    padding-right: 5vh;
    color: #BC88FF;
    font-family: 'AppleSDGothicNeoB';
}

.planning-wrap .goal .goal-bottom-3 .slide{
    padding-left: 5vh;
    padding-right: 5vh;
}

/*Slide----------------------------------------------------------*/



/*Identity----------------------------------------------------------*/

#identity{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10vh;
    z-index: -1;
    display: flex;
    /* border: 2px solid blue; */
}

#identity .identity-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,#F9F7E8,#B0E9CD,#B0E9CD,#B0E9CD );
    position: relative;
    /* border: 1px solid red; */

}
#identity .identity-circle{
    width: 60vh;
    height: 60vh;
    background-color: white;
    border-radius: 50%;
    margin-top: 50vh;
    margin-bottom: 30vh;
}

#identity .identity-img-section{
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#identity .identity-hand-2{
    width: 57vh;
    position: absolute;
    top: 38vh;
    transform: rotate(-2deg);
    z-index: 5;
}

#identity .identity-left .identity-pumi{
    width: 24vh;
    position: absolute;
    top: 60vh;
    /* top: 71vh;
    left: 50vh; */
    margin-right: 35vh;
    /* transition: top 0.5s, left 0.5s ease-in-out; */
}

/* #identity .identity-left .identity-pumi.show {
    top: 60vh;
    left: 35vh;
} */

#identity .identity-left .identity-toto{
    /* position: absolute;
    width: 14vh;
    top: 47vh; */
    width: 18vh;
    position: absolute;
    top: 28vh;
    margin-right: 12vh;
}
#identity .identity-left .identity-ohmong{
    /* position: absolute;
    width: 10vh; */
    width: 28vh;
    position: absolute;
    top: 32vh;
    margin-left: 45vh;

}
#identity .identity-right{
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to bottom,#FAF8EB,#FFFFFF,#FFFFFF);
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

#identity .identity-right .identity-app-logo{
    width: 10vh;
    margin-bottom: 3vh;
    margin-top: 53vh;
}

#identity .identity-right .identity-text-logo{
    width: 30vh;
    margin-bottom: 7vh;
}

#identity .identity-right p{
    text-align: center;
    line-height: 172%;
    font-family: 'TMONEYROUNDWINDEXTRABOLD';
    color: #313131;
    font-size: calc(100vh * 50 / 1920);
    margin-bottom: 48vh;
}



/*Video----------------------------------------------------------*/

#video{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Vlaue----------------------------------------------------------*/

#value{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#value strong{
    font-size: calc(100vh * 58 / 1920);
    font-family: 'TMONEYROUNDWINDEXTRABOLD';
    color: #FFFFFF;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

#value .kid{
    width: 50%;
    height: 100%;
    position: relative;
    background-image: url(../img/value-kid-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#value .kid h1, .parent h1{
    color: #FFFFFF;
    font-family: 'TMONEYROUNDWINDEXTRABOLD';
    font-size: calc(100vh * 62 / 1920);
    text-align: center;
    line-height: 150%;
    margin-bottom: 2vh;
}

#value .kid h1 span{
    color: #83F0B5;
}

#value .parent h1 span{
    color: #BC88FF;
}

#value .kid .kid-tag, .parent-tag{
    display: flex;
    margin-bottom: 12vh;
}

#value .kid .kid-tag li, .parent-tag li{
    background-color: #F9F7E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.2vh;
    font-size: calc(100vh * 38 / 1920);
    margin: 1.8vh;
    border-radius: 50px;
    color: #FF917A;
}

#value .kid .kid-tag li:nth-child(1){
    width: 18vh;

}

#value .kid .kid-tag li:nth-child(2){
    width: 21vh;

}

#value .kid .kid-tag li:nth-child(3){
    width: 18vh;

}

#value .kid .kid-tag li:nth-child(4){
    width: 15vh;

}


#value .parent .parent-tag li:nth-child(1){
    width: 18vh;
    color: #BC88FF;
}

#value .parent .parent-tag li:nth-child(2){
    width: 21vh;
    color: #BC88FF;
}

#value .parent .parent-tag li:nth-child(3){
    width: 18vh;
    color: #BC88FF;
}

#value .parent .parent-tag li:nth-child(4){
    width: 15vh;
    color: #BC88FF;
}

#value .kid .value-kid-tablet{
    width: 64vh;
    margin-bottom: 19vh;
}

#value .kid .value-kid-pumi{
    position: absolute;
    bottom: 47vh;
    width: 26vh;
    margin-right: 60vh;
}

#value .parent{
    width: 50%;
    height: 100%;
    position: relative;
    background-image: url(../img/value-parent-bg.png);
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#value .parent .value-parent-phone{
    width: 67vh;
    margin-bottom: 18.8vh;
    position: relative;
    top: 1vh;
}

/*Branding----------------------------------------------------------*/

#branding{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#branding .intro{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/introduce-character-bg.png);
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#branding .intro strong{
    color: #FFD698;
    font-size: calc(100vh * 58 / 1920);
    margin-bottom: 9vh;
    margin-top: 20vh;
}

#branding .intro h1{
    font-size: calc(100vh * 72 / 1920);
    text-align: center;
    color: #FFFFFF;
    line-height: 150%;
    margin-bottom: 4vh;
}

#branding .intro h1 span{
    color: #83F0B5;
}

#branding .intro p{
    font-family: 'AppleSDGothicNeoM';
    font-size: calc(100vh * 40 / 1920);
    text-align: center;
    line-height: 150%;
    color: #EAEAEA;
    margin-bottom: 11vh;

}
#branding .intro .introduce-character{
    width: 110vh;
    z-index: 2;
    position: relative;
    top: 30vh;
}

#branding .intro .introduce-hill{
    width: 110%;
    height: 90vh;
}


#branding .character{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0.2vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

#branding .character strong{
    color: #9140F9;
    font-size: calc(100vh * 58 / 1920);
    position: relative;
    bottom: 30vh;
}
#branding .character .pumi, .ohmong, .toto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#branding .character .pumi{
    margin-bottom: 30vh;
}

#branding .character .ohmong{
    margin-bottom: 30vh;
}

#branding .character .toto{
    margin-bottom: 30vh;
}


#branding .character .pumi-name{
    width: 18vh;
    margin-bottom: 3vh;
}

#branding .character .ohmong-name{
    width: 32vh;
    margin-bottom: 3vh;
}

#branding .character .toto-name{
    width: 18vh;
    margin-bottom: 3vh;
}

#branding .character .character-1{
    width: 38vh;
    margin-right: 20vh;
}

#branding .character .character-2{
    width: 49vh;
    margin-left: 20vh;
}

#branding .character .character-3{
    width: 28vh;
    margin-right: 10vh;
}

#branding .character h2{
    font-size: calc(100vh * 52 / 1920);
    color: #232323;
    margin-bottom: 1.6vh;
}

#branding .character p{
    font-family: 'AppleSDGothicNeoM';
    color: #232323;
    font-size: calc(100vh * 46 / 1920);
    line-height: 150%;
}

/*Design----------------------------------------------------------*/

#design{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#design .system {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
    background-color: #FFFFFF;
}

#design .system .system-bg{
    width: 100%;
    height: 80vh;
    background-image: url(../img/system-design-wave.png);
    background-size: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#design .system .system-bg strong{
    font-size: calc(100vh * 48 / 1920);
    color: #BC88FF;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

#design .system .system-bg h1{
    font-size: calc(100vh * 72 / 1920);
    text-align: center;
    color: #585858;
    line-height: 150%;
}

/*Design Color----------------------------------------------------------*/

#design .color{
    width: 87%;
    height: 100%;
    position: relative;
    border: 1px solid red;
}

#design .color strong{
    font-size: calc(100vh * 58 / 1920);
    color: #BC88FF;
}

#design .color h3{
    font-family: 'AppleSDGothicNeoB';
    font-size: calc(100vh * 50 / 1920);
    color: #6C6C6C;
}

#design .color .color-h3-1{
    margin-top: 12vh;
}

#design .color .color-h3-2{
    margin-bottom: 3vh;
}

#design .color .color-all{
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}

#design .color .color-all h3{
    font-family: 'AppleSDGothicNeoB';
    font-size: calc(100vh * 48 / 1920);
    color: #6C6C6C;
}

#design .color .color-top{
    display: flex;
    border: 1px solid rgb(0, 17, 255);
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFFFFF;
    font-family: 'AppleSDGothicNeoB';
    margin-bottom: 6vh;
}

#design .color .color-top .purple{
    width: 46%;
    height: 100%;
    margin-right: 2.5%;
}

#design .color .color-top .purple-1{
    background-color: #8C3EF0;
    height: 23vh;
    margin-bottom: 5%;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
}

#design .color .color-top .purple-2{
    background-color: #BC88FF;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
}

#design .color .color-top .green{
    width: 16.6%;
    height: 100%;
    margin-right: 2.5%;
}

#design .color .color-top .green-1{
    background-color: #50DA8D;
    height: 23vh;
    margin-bottom: 14%;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
}

#design .color .color-top .green-2{
    background-color: #83F0B5;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
    color: #989898;
}

#design .color .color-top .yellow{
    width: 16.6%;
    height: 100%;
    margin-right: 2.5%;
}

#design .color .color-top .yellow-1{
    background-color: #FFE100;
    height: 23vh;
    margin-bottom: 14%;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
}

#design .color .color-top .yellow-2{
    background-color: #FFF495;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
    color: #989898;
}


#design .color .color-top .red{
    width: 16.6%;
    height: 100%;
}

#design .color .color-top .red-1{
    background-color: #FB5E3C;
    height: 23vh;
    margin-bottom: 14%;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
}

#design .color .color-top .red-2{
    background-color: #FF917A;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 3vh;
    border-radius: 2.7vh;
    color: #989898;
}

#design .color .color-bottom{
    display: flex;
    /* border: 1px solid rgb(15, 137, 70); */
    width: 100%;
    position: relative;
    font-family: 'AppleSDGothicNeoB';
}

#design .color .color-bottom > div{
    width: 11.4%;
    height: 8vh;
    /* border: 1px solid red; */
    border-radius: 2.2vh;
    padding-top: 2vh;
    padding-left: 3vh;
}

#design .color .color-bottom > div:nth-child(1){
    margin-right: 4%;
    background-color: #FFFFFF;
}

#design .color .color-bottom > div:nth-child(2){
    margin-right: 4%;
    background-color: #D1D1D1;
}

#design .color .color-bottom > div:nth-child(3){
    margin-right: 4%;
    background-color: #B0B0B0;
}

#design .color .color-bottom > div:nth-child(4){
    margin-right: 4%;
    background-color: #8E8E8E;
}

#design .color .color-bottom > div:nth-child(5){
    margin-right: 4%;
    background-color: #6C6C6C;
}
#design .color .color-bottom > div:nth-child(6){
    margin-right: 4%;
    background-color: #484848;
    color: #D9D9D9;
}

#design .color .color-bottom > div:nth-child(7){
    background-color: #232323;
    color: #D9D9D9;
}



/*Design Typo----------------------------------------------------------*/


#design .typo{
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 20vh;
    margin-bottom: 10vh;
}

#design .typo .typo-content{
    display: flex;
    width:100%;
    height: 100%;
    /* border: 1px solid blue; */
    margin-top: 9vh;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#design .typo strong{
    font-size: calc(100vh * 58 / 1920);
    color: #BC88FF;
    position: absolute;
    left: 0;
    top: 0;
}

#design .typo .typo-left{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

#design .typo .typo-left p{
    font-size: calc(100vh * 50 / 1920);
    font-family: 'AppleSDGothicNeoB';
    color: #6C6C6C;
    margin-bottom: 3vh;
}

#design .typo .typo-left h1{
    font-size: calc(100vh * 136 / 1920);
    font-family: 'AppleSDGothicNeoB';
    line-height: 150.5%;
    color: #585858;
}

#design .typo .typo-right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:  1px solid green; */
    font-family: 'AppleSDGothicNeoB';
    color: #6C6C6C;
    font-size: calc(100vh * 50 / 1920);
    width: 100%;
}

#design .typo .typo-right dl{
    margin-bottom: 3vh;
}

#design .typo .typo-right dt{
    margin-bottom: 1.3vh;
    width: 100%;
}

#design .typo .typo-right dd{
    width: 110%;
}

#design .typo .typo-right .typo-body{
    margin-left: 8vh;
    
}

/*Design Typo----------------------------------------------------------*/

#design .logo{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
    display: flex;
}

#design .logo .logo-left{  
    width: 50%;
    position: relative;
    border: 1px solid rgb(0, 60, 255);
    background-color: #FFD698;
}

#design .logo .logo-left strong{
    font-size: calc(100vh * 58 / 1920);
    color: #BC88FF;
    position: absolute;
    left: 12vh;
    top: 10vh;
}

#design .logo .logo-left-img{
    width: 100%;
    height: 100%;
    position: relative;
}

#design .logo .logo-left-img .app-bg{
    width: 36vh;
    height: 36vh;
    background-color: #FFFFFF;
    border-radius: 16%;
    position: absolute;
    left: 11vh;
    top: 34vh;
}

#design .logo .logo-left-img .app-comp-1{
    width: 5.6vh;
    z-index: 3;
    position: absolute;
    top: 41vh;
    left: 18.3vh;
}

#design .logo .logo-left-img .app-comp-2{
    width: 14vh;
    position: absolute;
    top: 41.2vh;
    left: 26vh;
}

#design .logo .logo-left-img .app-comp-3{
    width: 23vh;
    position: absolute;
    top: 48vh;
    left: 17.5vh;
}

#design .logo .logo-left-img .line-1{
    width: 21vh;
    position: absolute;
    left: 37vh;
    top: 29vh;
}

#design .logo .logo-left-img .line-2{
    width: 19vh;
    position: absolute;
    left: 38.6vh;
    top: 52vh;
}

#design .logo .logo-left-img .habit-icon{
    width: 5vh;
    position: absolute;
    left:  58.7vh;
    top: 50vh;
}

#design .logo .logo-left-img .logo-kid-text-1, .logo-kid-text-2, .logo-kid-text-3{
    font-size: calc(100vh * 45 / 1920);
    color: #9140F9;
    line-height: 140%;
}

#design .logo .logo-left-img .logo-kid-text-1{
    position: absolute;
    left: 59vh;
    top: 27.8vh;
}

#design .logo .logo-left-img .logo-kid-text-2{
    position: absolute;
    left: 64.6vh;
    top: 49vh;
}

#design .logo .logo-left-img .logo-kid-text-3{
    position: absolute;
    left: 64.6vh;
    top: 52vh;
}


#design .logo .logo-right{  
    width: 50%;
    position: relative;
    border: 1px solid rgb(97, 89, 13);
}

#design .logo .logo-right .logo-right-top{
    width: 100%;
    border: 1px solid rgb(97, 89, 13);
    background-color: #FF917A;
    display: flex;
}

#design .logo .logo-right .logo-right-top img{
    width: 42vh;
}

#design .logo .logo-right .logo-right-top img:nth-child(1){
    margin-top: 10vh;
    /* width: 40vh; */
    width: 42%;
    margin-left: 7vh;
}

#design .logo .logo-right .logo-right-top img:nth-child(2){
    margin-bottom: 10vh;
    /* width: 40vh; */
    width: 42%;
    position: absolute;
    right: 4vh;
}

#design .logo .logo-right .logo-right-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83F0B5;
}

#design .logo .logo-right .logo-right-bottom img{
    width: 20vh;
    margin-top: 13%;
    margin-bottom: 13%;
}


/*component----------------------------------------------------------*/

#component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    position: relative;
    margin-bottom: 20vh;
}

#component strong{
    position: absolute;
    top: 14vh;
    left: 12.7vh;
    font-size: calc(100vh * 58 / 1920);
    color: #BC88FF;
}
#component .component-wrap{
    width: 87%;
    height: 100%;
    position: relative;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    /* background-image: url(../img/component-bg.png);
    background-size: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    margin-top: 30vh;
    
}

#component .component-wrap img{
    width: 85%;
    margin-top: 12vh;
    margin-bottom: 12vh;
}


/*Mockup----------------------------------------------------------*/

#mock-up{
    width: 100%;
    height: 100%;
}

#mock-up .mockup-1{
    width: 100%;
    height: 120vh;
    background-image: url(../img/mockup-1.png);
    background-size: 100%;
}
#mock-up .mockup-2{
    width: 100%;
    height: 100vh;
    background-image: url(../img/mockup-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#mock-up .mockup-3{
    width: 100%;
    height: 140vh;
    background-image: url(../img/mockup-3.png);
    background-size: 100%;
}



/*footer----------------------------------------------------------*/

footer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

footer .footer-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid red;
    position: relative;
}

footer strong{
    font-size: calc(100vh * 58 / 1920);
    color: #BC88FF;
    margin-top: 25vh;
    position: absolute;
    top: -7vh;
    left:0;
    /* margin-right: 148vh; */
    border: 1px solid rgb(0, 26, 255);
}
footer .footer-team{
    display: flex;
    border: 1px solid rgb(0, 26, 255);
    margin-top: 25vh;
    margin-bottom: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer .footer-team img{
    width: 20vh;
}

footer .footer-team .team-1, .team-2, .team-3, .team-4, .team-5, .team-6{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1.8vh;
    border: 1px solid red;
    width: 20%;
}

footer .footer-team h2{
    margin-bottom: 3vh;
    font-size: calc(100vh * 45 / 1920);
}

footer .footer-team .team-1 h2{
    color: #71D69F;
}

footer .footer-team .team-2 h2, .team-3 h2, .team-4 h2{
    color: #FF917A;
}

footer .footer-team .team-5 h2, .team-6 h2{
    color: #FFD698;
}

footer .footer-team img{
    margin-bottom: 3vh;
}

footer .footer-team h3{
    margin-bottom: 2vh;
    font-size: calc(100vh * 45 / 1920);
    color: #BC88FF;
}

footer .footer-team p{
    color: #777777;
}

footer .team-right{
    position: absolute;
    top: 87vh;
    font-size: calc(100vh * 45 / 1920);
    color: #ADADAD;
}